body {
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 20px;
}

.container {
	display: flex;
	flex-flow: row wrap;
	height: 425px;
	width: 425px;
	border: 1px solid black;
}

.column {
	flex: 1;
	display: flex;
	flex-flow: column;
}

.tile {
	flex: 1;
}
