body {
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 40px;
}

.container {
	display: flex;
	flex-flow: row wrap;
	align-content: stretch;
	height: 450px;
	width: 450px;
}

.tile {
	width: 10%;
	height: 10%;
	flex: 1 0 auto;
	outline: 1px solid black;
}

.blue {
	background-color: blue;
}
